<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings configProtectionProvider="ProviderEnkripcije">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-oaep-mgf1p" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>niIkyT6aK4iut36ReNfdG3wjXpGt+3kGlDM+IUVkyReLd3smmuBoaIEy2MtEQE4nPl5Tf8aJO08LX285HtJ+HwVxU4xLroOABGK3xmjLruchpUCGxDnrE3xffuLdfDB7SdyRYPqFaxbOPkUWxf1t8OoiJM3izAuXXogSZE8veXYRjpx29pBy7jNkl/h/1yT6AivxGWHgcBVfW3t0CNmuaz0DhC6SPASPngLwh4rcho6AgzIctgFljfkWwgqIBNYkNnYwuYECOukQvSjvj4bqqAiFCv6luwgHCKWaQgPGvVALy7OZ8mPgSDbVg08cKS7CnXN4Q9bNEmvYrOfs+CUEpw==</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>7YV7QK08B96c5kvBYKg43fRjT3RSD3z0pnVDl3Yn6h2RfMJ6df17irHPlurFHtDrwhqpp+lNtfqaSr0qNz9Jbw3TMQ+on1N0/lc1PbbAPsSgDwlcB7d3vfnQKQ17nmbDK6+E2RMWMSNMA3awWnvaSxfs2A7Yc/qVrGU9DSU57HlFswiI4CDFRNt4Qh4TAyN37JkXd4tKLE4GfhZJ5xKS2XGSRVWgoMdzbmP3ziQh8ZZ32vVIRgmDS4/B7jWM1XDA0/H5DoX90Bob62o0tIrKQVnmCAOpImWyvQblaOw1tww3Qxs9EJnw0Sb6nwkFBWOvJVd2Nbi5JiWJAZDVa6T5MyST++u3yIifqXL+tTUfB22LkyiZB997Xd+D6AtuN2W6c/1L3LfokKmZ7Tgv+Ggls3IBMufjZoAm/yL4VAOMcbD2yH5A1HPEq81mxhQrMqQPUUHrzQsIFv8XTB80k86nKvb8eOUUPzy78lZ4v7sTym9q8QlIT2pUsBo9PZNnsWmQZsjLQ0mXAS0fpFOiXzWmEYbecNQj0ddATjjNOewsZWK6Mkdw4/y76SMwyLUgr3nUfr/CudH+IKSsNxbroC4VS8h45NeLFwkulDNajbSdY8imxkJtgol4HMqWJ9VVIJBi/tvHIa9hM0yZw9RAcXH7cw==</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <configProtectedData>  
    <providers>  
        <add keyContainerName="ParKljuceva"
                 useMachineContainer="true"
                 name="ProviderEnkripcije"
                 type="System.Configuration.RsaProtectedConfigurationProvider"/>  
    </providers>  
   </configProtectedData>
</configuration>